section{
    background: url('img/updatebg.png') no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.input-area label{
    display: block;
    margin: 10px 0 5px 0;
    color: #fff;
    font-size: 32px;
}
.input-area input{
    border: none;
    outline: none;
    background: none;
    overflow: none;
    width: 100%;
    padding: 5px 4px;
    border-bottom: 4px solid #ff3333;
    color: #fff;
    font-size: 21px;
}
.input-area input:focus{
    background: rgba(255, 255, 255, 0.12);
}
.button-area{
    display: flex;
    justify-content: flex-end;
}
.button{
    background: none;
    border: none;
    outline: none;
    width: 30%;
    margin-top: 15px;
    padding: 10px 5px;
    background: #ff3333;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover{
    background: #d12a2a;
    width: 100%;
    transition: 1s ease-in-out;
}
.error-area{
    margin-top: 15px;
    text-align: center;
    color: #ff0000;
    font-size: 18px;
    font-weight: bold;
}
@media (max-width: 890px){
    .button{
        width: 100%;
    
    }
    .button:hover{
        transition: 0s;
    }
}