<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
   <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
   <link href="https://fonts.googleapis.com/css?family=Montserrat|Titillium+Web&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="static/navbar.css">
   <link rel="stylesheet" href="static/create.css">
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>
   <title>ProDB - Create</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">ProDB</label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="./fCreate" class="active">Incluir</a></li>
            <li><a href="./fRead">Consultar</a></li>
            <li><a href="./sUpdate">Alterar</a></li>
            <li><a href="./sDelete">Excluir</a></li>
        </ul>
    </nav>
    <section>
        <form action="/create" method="post">
            <div class="input-area">
                <label for="name">Nome</label>
                <input type="text" placeholder="(Ex: fiB0b)" id="name" name="name" size="50" maxlength="50" required />
            </div>
            <div class="input-area">
                <label for="team">Equipe</label>
                <input type="text" placeholder="(Ex: B4n4n4s In Pij4m4s)" id="team" name="team" size="50" maxlength="50" required/>
            </div>
            <div class="input-area">
                <label for="country">País de origem</label>
                <input type="text" placeholder="(Ex: Brasil)" id="country" name="country" size="50" maxlength="50" required/>
            </div>
            <input class = "button" type="submit" value="Incluir"/>
        </form>
    </section>
</body>
</html>