<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/navbar.css">
    <link rel="stylesheet" href="static/delete.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script type="text/javascript" src="static/ajax.js"></script>
    <title>ProDB - Update</title>
</head>
<body>
   <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
      </label>
      <label class="logo">ProDB</label>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="./fCreate">Incluir</a></li>
          <li><a href="./fRead">Consultar</a></li>
          <li><a href="./sUpdate">Alterar</a></li>
          <li><a href="./sExcluir" class="active">Excluir</a></li>
      </ul>
  </nav>
  <section>
   <div class = "table-area">
     <table>
         <tr>
             <th>Nome(Time)</th>
             <th>País</th>
             <th>Excluir?</th>
         </tr>
         {{ players | safe }}
     </table>
   </div>
     <form action="/excluir" method="post" id="fm">
         <input type="hidden" name="idt" value="0" id="identificador"/>
     </form>
   </section>
</body>
</html>

<script>
   // Função javascript para setar o identificador do jogador para excluir após confirmação

   function jsExcluir(jogador, idt){
     var conf=confirm("Deseja realmente excluir " + jogador + " ?");
     if (conf){
        var f=document.getElementById("fm");
        var i=document.getElementById("identificador");
        i.value=idt;
        f.submit();
     }
   }
</script>
